

:root{
    --primary-color: dodgerblue;
    --second-color: rgb(9, 86, 162);
    --white-color: white;
    --black-color: black;
    --white-back: white;
    --black-back: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--black-color);
    height: min(10%, 80px);
    background: var(--primary-color);
    padding: 0 20px;
    color: var(--black-color);
}

#all{
    width: 40%;
    margin: 10px;
}

#all *{
    margin-top: 10px;
}

#name{
    letter-spacing: 2px;
}

#cate{
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 1.5em;
}

#cards{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    width: 100vw;
}

.card{
    width: 200px;
    height: auto;
    border: 3px var(--primary-color) solid;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 7px gray;
    transition: .5s;
    color: var(--black-color);
}

.card *{
    margin-top: 10px;
}

.card:hover{
    background-color: var(--primary-color);
    transform: translateX(10px);
    
}


#side{
    position: fixed;
    background: var(--white-color);
    width: 0;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: .5s;
    color: var(--black-color);
    z-index: 101;
}

#side.active {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: min(40%, 300px);
    border-right: 5px solid var(--primary-color);
    padding: 3px;
    z-index: 101;
}

#sidebtn{
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 15px;
    border: 3px solid var(--b1-color);
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
}

#hideside{
    background-color: var(--b1-color);
    font-size: 1em;
    padding: 3px 5px;
    border-radius: 15px;
    border: none;
    margin: 10px;
}

#all{
    width: 40%;
    margin: 10px;
}

#all *{
    margin-top: 10px;
}

#select{
    border-radius: 15px;
    padding: 3px;
    background-color: var(--primary-color);
    border: 2px solid var(--b1-color);
}

#select #blue{
    background-color: dodgerblue;
    border-radius: 15px;
}

#select #green{
    background-color: lightgreen;
    border-radius: 15px;
}

#select #orange{
    background-color: orange;
    border-radius: 15px;
}

#select #red{
    background-color: tomato;
    border-radius: 15px;
}

.foot{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 99;;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.active-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 60%;
    padding-top: 20px;
    box-shadow: 0 0 15px var(--primary-color);
}

#quiz-form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.rdiv{
    display: flex;
    font-size: larger;
}

.rdiv * {
    margin-left: 15px;
}

#next, #cancel{
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 2em;
    transition: .5s;
    border: none;
}
